.forecast {
    display: flex;
    flex-direction: column;
    height: 700px;
    background-color: rgb(186, 199, 199);
    border-radius: 50px;
    width: 370px;
    justify-content: space-evenly;
    font-size: larger;
}

.day-temp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.forecast-day {
    display: flex;
    align-items: center;
    gap: 80px;
}

.forecast-temp {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
   .forecast {
    background-color: transparent;
   }
  }