.today-container {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
    height: 650px;
    max-width: 400px;
    border-top-left-radius: 0; 
    border-top-right-radius: 0; 
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px; 
    
}


.today-weather {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.day-icon img {
    width: 200px;
    height: auto;
    margin-bottom: 250px;
}

.sunrise-set {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: large;
    
}

.today-container.daytime {
    background-color: rgb(162, 223, 241);
  }
  .today-container.nighttime {
    background-color: rgb(102, 102, 211);
  }

  .temperature {
    font-size: 100px;
    margin-bottom: 0;
  }
  .location {
    font-size: 30px;
    margin-top: 0;
  }